<template>
    <div>
        <div class="container">
            <form>
                <h2>Update User Details</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name: </label>
                            <input type="text" v-model="userDetails.name" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                        <label for="surname">Surname: </label>
                        <input type="text" v-model="userDetails.surname" class="form-control" placeholder="Surname">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email: </label>
                            <input type="text" v-model="userDetails.email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                        <label for="phone">Phone Number: </label>
                        <input type="text" v-model="userDetails.phone" class="form-control" placeholder="Phone Number">
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary mt-4"
                @click="updateUser()">Update</button>
            </form>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
export default {
    name: 'UpdateUser',
    data() {
        return {
            userDetails: {}
        }
    },
    methods: {
        updateUser() {
            const apiUrl = `http://localhost:3000/users/${this.userDetails.id}`
            axios.put(apiUrl, {
                name: this.userDetails.name,
                surname: this.userDetails.surname,
                email: this.userDetails.email,
                phone: this.userDetails.phone
            }).then(response => {
                this.$router.push('/')
                console.log(response.data);
            })
        }
    },
    created() {
        this.userDetails = this.$route.query.user
    }
}
</script>