<template>
    <div>
        <div class="container">
            <h1>{{title}}</h1>
            <b-row>
                <b-col lg="12" class="pb-2">
                    <b-button style="float: right;" variant="outline-primary" size="sm"
                    @click="$bvModal.show('createUser')">Create User</b-button>
                </b-col>
            </b-row>
            <table class="table table-bordered">
                <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody v-if="users.length > 0">
                    <tr v-for="user in users" :key="user._id">
                        <td>{{ user.name }}</td>
                        <td>{{ user.surname }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>
                            <button class="btn btn-primary btn-sm"
                            @click="updateUser(user)">Edit</button>
                            <button class="btn btn-danger btn-sm" style="margin-left: 2px;"
                            @click="deleteUser(user)">Delete</button>
                        </td>
                    </tr>
                </tbody>
                <tbody class="text-center" v-else>No Data Found.</tbody>
            </table>
        </div>
        <b-modal
            id="createUser"
            hideHeader
            hideFooter
            centered
            no-fade
            >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title">Create User</h5>
                        <b-button type="button" aria-label="Close" style="float: right;" variant="outline-primary"
                        @click="$bvModal.hide('createUser')">Cancel</b-button>
                    </div>
                    <form>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="name">Name: </label>
                                <input type="text" v-model="userDetails.name" class="form-control" placeholder="Enter name">
                            </div>
                            <div class="form-group mt-2">
                                <label for="surname">Surname: </label>
                                <input type="text" v-model="userDetails.surname" class="form-control" placeholder="Enter surname">
                            </div>
                            <div class="form-group mt-2">
                                <label for="email">Email:</label>
                                <input type="email" v-model="userDetails.email" class="form-control" placeholder="Enter email">
                            </div>
                            <div class="form-group mt-2">
                                <label for="phone">Phone Number:</label>
                                <input type="text" v-model="userDetails.phone" class="form-control" placeholder="Enter phone number">
                            </div>
                        </div>
                        <div class="modal-footer border-top-0 d-flex justify-content-center">
                            <b-button style="float: right;" variant="outline-primary" size="lg"
                            @click="createUser()">Create</b-button>
                        </div>
                    </form>
                </div>
            </div>
        </b-modal>
    </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'UserList',
  data() {
      return {
          title: "User's List",
          users: [],
          userDetails: {
            name: "",
            surname: "",
            email: "",
            phone: ""
          }
      }
  },
    methods: {
        getUsers() {
            axios.get(`http://localhost:3000/users`)
            .then(response => {
                this.users = response.data
            })
        },
        createUser() {
            const apiUrl = "http://localhost:3000/users"
            axios.post(apiUrl, {
            name: this.userDetails.name,
            surname: this.userDetails.surname,
            email: this.userDetails.email,
            phone: this.userDetails.phone
            }).then(response => {
                this.users = [...this.users, response.data]
            })
            this.clearForm()
            this.$bvModal.hide('createUser')
        },
        clearForm() {
            this.userDetails.name = ""
            this.userDetails.surname = ""
            this.userDetails.email = ""
            this.userDetails.phone = ""
        },
        deleteUser(user) {
            var confirm = window.confirm("This user will be deleted. Are you sure?");
            if(confirm) {
                const apiUrl = `http://localhost:3000/users/${user.id}`
                axios.delete(apiUrl)
                .then(response => {
                    console.log(response)
                    this.getUsers()
                })
            }
        },
        updateUser(user) {
            this.$router.push({ path: 'updateuser', query: { user: user } })
        }
    },
    created() {
        this.getUsers()
    }
}
</script>